# Analysing sales data

In [144]:
import pandas as pd
import glob
import os
import datetime
import numpy as np

### Merging 12 months of sales data into a single File

 Creating list comprehension for csv files in our data directory :

In [64]:
files = [file for file in os.listdir(r'C:\Users\allo\Pandas-Data-Science-Tasks\SalesAnalysis\Sales_Data')]

Concatenating all csv data files in one data frame :

In [65]:
all_sales = pd.DataFrame()
for file in list(files)[1::]:
    df = pd.read_csv(file)
    all_sales = pd.concat([all_sales, df])
all_sales.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

Other way to do it  using Glob library

In [66]:

# extension = 'csv'
# all_filenames = [i for i in glob.glob('*.{}'.format(extension))]


# combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ]) # #combine all files in the list
# #export to csv
# combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')
# sales = pd.read_csv('combined_csv.csv')
# print(sales.tail())
# sales.shape

Saving the all months sales into a csv file :

In [72]:
all_sales.to_csv('all_months_sales.csv', index=False)

Reading csv file of all months sales :

In [198]:
sales = pd.read_csv('all_months_sales.csv')
sales.head()
sales.shape

(186850, 6)

### Cleaning up the data !!

Drop NaN Rows !

In [222]:
sales[pd.isnull(sales).any(axis=1)].shape
sales = sales.dropna(how = 'all')
sales.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04

Finding 'Or' values and droping them

In [ ]:
if sales['Order Date'].str[0:2] == 'Or':

### The best month for sales, how much was earned that month :

Additional columns to our dataframe  :

#### Add month column

In [226]:
sales['month'] = sales['Order Date'].str[0:2]
#sales['month'] = sales['month'].astype(int)
#sales.month = pd.to_numeric(sales.month, errors="coerce")
#sales['month'].astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [204]:
sales.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04

  Order ID Product  Quantity Ordered  Price Each Order Date Purchase Address
0        1    True                 1         1.0          1             True
2        1    True                 1         1.0          1             True
3        1    True                 1         1.0          1             True
4        1    True                 1         1.0          1             True
5        1    True                 1         1.0          1             True

In [146]:
# sales['Order Date'] = sales['Order Date'].astype(str)
# sales['Order ID'] = sales['Order ID'].astype(int)
# sales['Product'] = sales['Product'].astype(str)
# sales['Quantity Ordered'] = sales['Quantity Ordered'].astype(int)
# sales['Price Each'] = sales['Price Each'].astype(float)
# sales['Purchase Address'] = sales['Purchase Address'].astype(str)

In [147]:
sales.dtypes

Order ID              int32
Product              object
Quantity Ordered      int32
Price Each          float64
Order Date           object
Purchase Address     object
dtype: object